version: 2.1

jobs:
  build:
    docker:
      - image: cimg/android:2022.09

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Grant Gradle execute permission
          command: chmod +x ./gradlew

      - run:
          name: Download dependencies
          command: ./gradlew androidDependencies

      - run:
          name: Run unit tests
          command: ./gradlew test


workflows:
  version: 2.1
  build_and_test:
    jobs:
      - build
