version: 2

orbs:
  android: circleci/android@2.3.0

jobs:
  build:
    executor:
      name: android/android-machine
      resource-class: medium

    steps:
      - checkout

      - restore_cache:
          keys:
            - gradle-{{ checksum "build.gradle" }}
            - gradle-

      - run:
          name: Download Gradle dependencies
          command: ./gradlew dependencies || true

      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-{{ checksum "build.gradle" }}

      - run:
          name: Run unit tests
          command: ./gradlew test --stacktrace

workflows:
  build_and_test:
    jobs:
      - build
