version: 2.1

orbs:
  android: circleci/android@2.3.0

workflows:
  build_and_test:
    jobs:
      - android/test

jobs:
  android/test:
    docker:
      - image: cimg/android:2022.09
    steps:
      - checkout
      - run:
          name: Fix Gradle permissions
          command: chmod +x ./gradlew
      - run:
          name: Download dependencies
          command: ./gradlew androidDependencies
      - run:
          name: Run unit tests
          command: ./gradlew test
